
@{
    ViewData["Title"] = "PaySuccessfull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center; color:green; font-weight:500;">Ödeme işleminiz başarıyla gerçekleştirildi.</h1>

