@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">İstek Listem</h1></div>
        </div>
    </div>
    <!--End Page Title-->

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                <form action="#">
                    <div class="wishlist-table table-content table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="product-name text-center alt-font">Kaldır</th>
                                    <th class="product-price text-center alt-font">Görseller</th>
                                    <th class="product-name alt-font">Ürün</th>
                                    <th class="product-price text-center alt-font">Fiyat</th>
                                    <th class="stock-status text-center alt-font">Stok Durumu</th>
                                    <th class="product-subtotal text-center alt-font">Sepete Ekle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="product-remove text-center" valign="middle"><a href="#"><i class="icon icon anm anm-times-l"></i></a></td>
                                    <td class="product-thumbnail text-center">
                                        <a href="#"><img src="~/Images/kasa.jpg" alt="" title="" /></a>
                                    </td>
                                    <td class="product-name"><h4 class="no-margin"><a href="#">Dragos DRx933 Ryzen 5 5600X 16GB Ram 256GB M.2 NVMe SSD 4GB GTX1650</a></h4></td>
                                    <td class="product-price text-center"><span class="amount">7.850,00₺</span></td>
                                    <td class="stock text-center">
                                        <span class="in-stock">Stokta</span>
                                    </td>
                                    <td class="product-subtotal text-center"><button type="button" class="btn btn-small">Sepete Ekle</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End Body Content-->
