@model List<OrderDetail>
@{
    ViewData["Title"] = "Soru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-responsive">
    <thead>
        <tr>
            <td>Adı</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.ProductName</td>
            </tr>
        }
    </tbody>
</table>
