@model Image
@{
    ViewData["Title"] = "AddImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Resim Ekleme Sayfası</h1>

<br /><br />

<form method="post" asp-action="AddImage" asp-controller="Image" enctype="multipart/form-data" class="form-group">
    <input type="file" name="Image" class="form-control"/>
    <br />
    <input type="hidden" asp-for="ProductId" value="@ViewBag.Id"/>
    <input type="submit" value="Yükle" class="btn btn-info btn-block"/>
</form>


